#icon {
     padding: 8px;
     background-color: #325d88;
     color: #fff;
     text-decoration: none;
     border: 0;
    width: 83px;
 }
#total, #clear
{
    padding: 6px;
    float: right;
    margin-bottom: 3px;

    margin-top: 2px;
    margin-left: 130px;
}
#clear
{
    padding: 6px;
    float: left;
    width: 85px;
    margin-left: 0;
}
.btn
{

    padding: 0px 6px 0px 6px;
}
.btn-primary
{
    margin-bottom: 3px;
    padding: 6px;
}
.row {margin-top: 15px;}
.navbar-default .navbar-nav>li>a
{
    padding-right: 25px
}